<a href="https://colab.research.google.com/github/rattapornsupama/DPDM65/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd   
import matplotlib.pyplot as plt
import numpy as np

# import ไฟล์

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## ข้อมูลสำหรับการ train

In [58]:
data = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')

In [59]:
data.head()

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN

##ข้อมูลสำหรับการ test

In [60]:
datatest = pd.read_csv('/content/drive/MyDrive/DPDM65/test10nov_X.csv')

In [61]:
datatest

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2725,10441P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2726,520.0,NaN,NaN,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2727,6340.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,0.0,NaN,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,0.0
3,2728,17032.0,NaN,NaN,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,no,no,...,2.0,1.0,133.0,0.0,ตะวันออกเฉียงเหนือ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2729,18091.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,1.0,NaN,46.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2920,6040.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
196,2921,681.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,พระลับ,อาคารพาณิชย์/สำนักงาน,no,no,...,NaN,NaN,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
197,2922,1182.0,NaN,NaN,ขอนแก่น,ชุมแพ,หนองไผ่,บ้านเดี่ยว,NaN,NaN,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
198,2923,18567.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ท่าพระ,บ้านเดี่ยว,no,no,...,1.0,1.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
199,2924,20219P,บ้านพฤกษา แอร์พอร์ต มะลิวัลย์,บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน),ขอนแก่น,มัญจาคีรี,โพนเพ็ก,บ้านเดี่ยว,yes,no,...,2.0,2.0,NaN,NaN,NaN,ครบครัน,NaN,NaN,NaN,NaN

#เตรียมข้อมูล

##เตรียมข้อมูลสำหรับการ train

###เปลี่ยน error ทั้งหมดใน แต่ละคอลัมน์ที่เราที่เราสนใจ ให้เป็น ตัวเลข

In [62]:
data['usable_area'] = pd.to_numeric(data['usable_area'],errors='coerce')
data['number_of_rai'] = pd.to_numeric(data['number_of_rai'],errors='coerce')
data['number_of_ngan'] = pd.to_numeric(data['number_of_ngan'],errors='coerce')
data['number_of_va'] = pd.to_numeric(data['number_of_va'],errors='coerce')
data['number_of_story'] = pd.to_numeric(data['number_of_story'],errors='coerce')
data['number_of_bedroom'] = pd.to_numeric(data['number_of_bedroom'],errors='coerce')
data['number_of_bathroom'] = pd.to_numeric(data['number_of_bedroom'],errors='coerce')
data['number_of_parking'] = pd.to_numeric(data['number_of_bedroom'],errors='coerce')
data['sell_price'] = pd.to_numeric(data['sell_price'],errors='coerce')

###เติมค่า missing ด้วย 1.0 ในคอลัมน์ number_of_story ,number_of_bedroom , number_of_bathroom , number_of_parking 

โดยการใช้  .fillna({'ชื่อคอลัมน์':ค่าที่ต้องการจะใส่}) 

**หมายเหตุ ที่แทนค่าด้วย 1 เนื่องจาก อย่างน้อย ที่พักอาศัย ก็ต้องมี 1ห้องนอน 1ห้องน้ำ 1ที่จอดรถ และ 1ชั้น

In [63]:
data=data.fillna({'number_of_story':1.0})

In [64]:
data=data.fillna({'number_of_bedroom':1.0})

In [65]:
data=data.fillna({'number_of_bathroom':1.0})

In [66]:
data=data.fillna({'number_of_parking':1.0})

สร้างตารางข้อมูลใหม่ โดยเอามาเฉพาะคอลัมน์ที่เราสนใจ

In [67]:
data1=data[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking','sell_price']]
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
0,0.0,0.0,0.0,98.4,1.0,0.0,0.0,0.0,2860000.0
1,NaN,3.0,0.0,72.0,1.0,1.0,1.0,1.0,17490000.0
2,208.0,0.0,0.0,52.0,1.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,2.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,1.0,2.0,2.0,2.0,1490000.0
...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,135.0,2.0,5.0,5.0,5.0,12500000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,1.0,8671875.0
2722,0.0,0.0,0.0,58.0,1.0,0.0,0.0,0.0,1400000.0
2723,0.0,0.0,0.0,78.0,1.0,0.0,0.0,0.0,2915000.0
2724,0.0,0.0,0.0,32.0,1.0,0.0,0.0,0.0,1045000.0

###เติมค่า missing ที่เหลือด้วย 0

In [68]:
data1 = data1.fillna(0)
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
0,0.0,0.0,0.0,98.4,1.0,0.0,0.0,0.0,2860000.0
1,0.0,3.0,0.0,72.0,1.0,1.0,1.0,1.0,17490000.0
2,208.0,0.0,0.0,52.0,1.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,2.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,1.0,2.0,2.0,2.0,1490000.0
...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,135.0,2.0,5.0,5.0,5.0,12500000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,1.0,8671875.0
2722,0.0,0.0,0.0,58.0,1.0,0.0,0.0,0.0,1400000.0
2723,0.0,0.0,0.0,78.0,1.0,0.0,0.0,0.0,2915000.0
2724,0.0,0.0,0.0,32.0,1.0,0.0,0.0,0.0,1045000.0

ใช้ .dtypes  เพื่อดูลักษณะของข้อมูลว่าเป็น float หรือยัง

In [69]:
data1.dtypes

usable_area           float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
sell_price            float64
dtype: object

###ลบแถวของข้อมูล ที่มีค่าเป็น 0 ในคอลัมน์ usable_area ออก        

***หมายเหตุ ข้อมูลสำหรับการ train โมเดล เราจะลบแถวที่ usable_area=0 แต่ในข้อมูลสำหรับการ test เราจะไม่ลบแถวที่ usable_area=0 ออก

In [70]:
data1 = data1[data1['usable_area']!=0]
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
2,208.0,0.0,0.0,52.0,1.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,2.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,1.0,2.0,2.0,2.0,1490000.0
5,29.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1750000.0
9,280.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,2000000.0
...,...,...,...,...,...,...,...,...,...
2700,110.0,0.0,0.0,0.0,1.0,3.0,3.0,3.0,2700000.0
2702,400.0,0.0,0.0,88.0,1.0,3.0,3.0,3.0,6900000.0
2711,30.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,2280000.0
2713,150.0,0.0,0.0,67.5,2.0,4.0,4.0,4.0,4000000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,1.0,8671875.0

ใช้ .corr() เพื่อดูค่า correlation
- หากค่าเป็นบวก จะบ่งบอกถึงว่าเมื่อ x เพิ่ม y ก็มีแนวโน้มจะเพิ่มด้วย
- หากเป็นลบ หมายถึงว่าเมื่อ x เพิ่ม y ก็มีแนวโน้มจะลด
- แต่ถ้าเป็น 0 นั่นหมายความว่าไม่ว่า x จะเพิ่มหรือลดยังไงก็ไม่อาจบอกได้ว่า y จะเพิ่มหรือว่าลด
---
สหสัมพันธ์จะมีค่าจะอยู่ระหว่าง -1 ถึง 1 เสมอ

โดยถ้าสหสัมพันธ์เป็น 1 แสดงว่า x ∝ y โดยสมบูรณ์ ถ้าเป็น -1 หมายถึง x ∝ -y

In [71]:
data1.corr()

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
usable_area,1.000000,0.923006,0.982974,0.070542,-0.024417,-0.057873,-0.057873,-0.057873,0.384034
number_of_rai,0.923006,1.000000,0.870021,0.070375,-0.028947,-0.053993,-0.053993,-0.053993,0.507894
number_of_ngan,0.982974,0.870021,1.000000,0.071602,-0.021281,-0.046257,-0.046257,-0.046257,0.336352
number_of_va,0.070542,0.070375,0.071602,1.000000,0.023654,0.091830,0.091830,0.091830,0.136762
number_of_story,-0.024417,-0.028947,-0.021281,0.023654,1.000000,0.043255,0.043255,0.043255,0.007578
number_of_bedroom,-0.057873,-0.053993,-0.046257,0.091830,0.043255,1.000000,1.000000,1.000000,0.137082
number_of_bathroom,-0.057873,-0.053993,-0.046257,0.091830,0.043255,1.000000,1.000000,1.000000,0.137082
number_of_parking,-0.057873,-0.053993,-0.046257,0.091830,0.043255,1.000000,1.000000,1.000000,0.137082
sell_price,0.384034,0.507894,0.336352,0.136762,0.007578,0.137082,0.137082,0.137082,1.000000

##เตรียมข้อมูลสำหรับการ test

สร้างตารางข้อมูลใหม่ โดยเอามาเฉพาะคอลัมน์ที่เราสนใจ

In [87]:
datatest1 = datatest[['INDEX','usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking']]
datatest1

,INDEX,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking
0,2725,NaN,9.0,3.0,5.0,NaN,NaN,NaN,NaN
1,2726,NaN,1.0,0.0,26.0,NaN,0.0,NaN,NaN
2,2727,0.0,0.0,0.0,32.0,NaN,0.0,0.0,NaN
3,2728,133.0,0.0,0.0,75.0,1.0,1.0,2.0,1.0
4,2729,46.0,0.0,0.0,0.0,NaN,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...
195,2920,0.0,0.0,0.0,69.0,NaN,0.0,0.0,0.0
196,2921,0.0,0.0,0.0,20.0,NaN,0.0,NaN,NaN
197,2922,0.0,0.0,1.0,21.0,NaN,0.0,NaN,0.0
198,2923,0.0,0.0,0.0,83.7,2.0,1.0,1.0,1.0
199,2924,NaN,0.0,0.0,50.0,2.0,3.0,2.0,2.0

###เปลี่ยน error ทั้งหมดใน แต่ละคอลัมน์ที่เราที่เราสนใจ ให้เป็น ตัวเลข

In [88]:
datatest1['usable_area'] = pd.to_numeric(datatest1['usable_area'],errors='coerce')
datatest1['number_of_rai'] = pd.to_numeric(datatest1['number_of_rai'],errors='coerce')
datatest1['number_of_ngan'] = pd.to_numeric(datatest1['number_of_ngan'],errors='coerce')
datatest1['number_of_va'] = pd.to_numeric(datatest1['number_of_va'],errors='coerce')
datatest1['number_of_story'] = pd.to_numeric(datatest1['number_of_story'],errors='coerce')
datatest1['number_of_bedroom'] = pd.to_numeric(datatest1['number_of_bedroom'],errors='coerce')
datatest1['number_of_bathroom'] = pd.to_numeric(datatest1['number_of_bedroom'],errors='coerce')
datatest1['number_of_parking'] = pd.to_numeric(datatest1['number_of_bedroom'],errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

###เติมค่า missing ด้วย 1.0 ในคอลัมน์ number_of_story ,number_of_bedroom , number_of_bathroom , number_of_parking 

โดยการใช้  .fillna({'ชื่อคอลัมน์':ค่าที่ต้องการจะใส่}) 

**หมายเหตุ ที่แทนค่าด้วย 1 เนื่องจาก อย่างน้อย ที่พักอาศัย ก็ต้องมี 1ห้องนอน 1ห้องน้ำ 1ที่จอดรถ และ 1ชั้น

In [89]:
datatest1=datatest1.fillna({'number_of_story':1.0})

In [90]:
datatest1=datatest1.fillna({'number_of_bedroom':1.0})

In [91]:
datatest1=datatest1.fillna({'number_of_bathroom':1.0})

In [92]:
datatest1=datatest1.fillna({'number_of_parking':1.0})

###เติมค่า missing ที่เหลือด้วย 0

In [93]:
datatest1 = datatest1.fillna(0)
datatest1

,INDEX,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking
0,2725,0.0,9.0,3.0,5.0,1.0,1.0,1.0,1.0
1,2726,0.0,1.0,0.0,26.0,1.0,0.0,0.0,0.0
2,2727,0.0,0.0,0.0,32.0,1.0,0.0,0.0,0.0
3,2728,133.0,0.0,0.0,75.0,1.0,1.0,1.0,1.0
4,2729,46.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
195,2920,0.0,0.0,0.0,69.0,1.0,0.0,0.0,0.0
196,2921,0.0,0.0,0.0,20.0,1.0,0.0,0.0,0.0
197,2922,0.0,0.0,1.0,21.0,1.0,0.0,0.0,0.0
198,2923,0.0,0.0,0.0,83.7,2.0,1.0,1.0,1.0
199,2924,0.0,0.0,0.0,50.0,2.0,3.0,3.0,3.0

#Multiple Linear Regression

In [94]:
from sklearn.linear_model import LinearRegression

X คือ feature ที่เราสนใจ

y คือ sell_price

In [95]:
Xtrain = data1[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking']]
ytrain = data1['sell_price']
Xtrain

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking
2,208.0,0.0,0.0,52.0,1.0,3.0,3.0,3.0
3,145.0,0.0,0.0,40.0,2.0,3.0,3.0,3.0
4,114.0,0.0,0.0,50.0,1.0,2.0,2.0,2.0
5,29.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
9,280.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...
2700,110.0,0.0,0.0,0.0,1.0,3.0,3.0,3.0
2702,400.0,0.0,0.0,88.0,1.0,3.0,3.0,3.0
2711,30.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
2713,150.0,0.0,0.0,67.5,2.0,4.0,4.0,4.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,1.0

In [96]:
LR = LinearRegression()
LR.fit(Xtrain, ytrain)

LinearRegression()

In [98]:
datatest2 = datatest1[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking']]
predictions = LR.predict(datatest2)
predictions

array([ 1.47462284e+07,  3.05715547e+06,  1.66525751e+06,  3.39691346e+06,
        2.14400051e+06,  1.27937364e+06,  5.29502136e+06,  5.95252331e+06,
        2.14436918e+06,  3.53161243e+06,  9.74198118e+05,  1.10446148e+06,
        1.52819220e+06,  1.65609803e+06,  1.94620190e+06,  2.83594063e+06,
        6.03542675e+07,  2.53904885e+06,  2.15764212e+06,  7.24352512e+06,
        5.15065575e+06,  7.10885807e+06,  5.32827480e+06,  1.52584650e+06,
        4.60023639e+06,  2.14989923e+06,  4.15671790e+06,  5.12267683e+06,
        1.66402597e+07,  2.14953056e+06,  4.99156953e+06,  3.25956683e+06,
        4.81657383e+06,  2.44306365e+06,  3.16068197e+06,  4.02010919e+06,
        5.25698997e+06,  9.31688765e+06,  6.96315092e+06,  1.34934448e+06,
        2.14731854e+06,  6.03030287e+06,  4.87468178e+06,  2.42648857e+08,
        2.87981616e+07,  1.84340292e+06,  5.25029101e+06,  2.68118581e+06,
        4.72478116e+06,  2.14953056e+06,  5.07147532e+06,  2.15920196e+07,
        1.60938088e+06,  1.85125164e+06,  8.52003759e+06,  2.27586095e+06,
        3.25293077e+06,  5.23536987e+06,  2.11045151e+06,  2.00792078e+06,
        4.81883428e+05,  4.43590949e+06,  2.34026467e+06,  2.19638558e+06,
        4.62133795e+06,  2.81317947e+06,  6.38246476e+06,  5.62421879e+06,
        6.19675774e+06,  1.47679271e+06,  4.11706592e+06,  2.41453016e+06,
        3.16178799e+06,  4.12304164e+06,  9.70771485e+05,  1.88118989e+08,
        1.65609803e+06,  4.81883428e+05,  2.38485038e+06,  9.87430836e+06,
        2.14916189e+06,  2.42665991e+08,  3.57737488e+06,  1.68693773e+06,
        1.21308382e+07,  1.46998767e+07,  3.87021073e+06,  2.09358660e+06,
        5.27884834e+06,  1.45965954e+06,  3.72007723e+06,  1.52584650e+06,
        7.18580538e+06,  1.53161883e+06,  3.90851616e+06,  1.63567458e+07,
        5.06763182e+06,  2.72174781e+06,  1.44423970e+06,  1.57959169e+06,
        1.51105903e+06,  7.97026173e+06,  2.66599998e+06,  2.29918456e+06,
        4.40773681e+06,  8.16573012e+05,  1.17395577e+07,  4.16669940e+06,
        2.32897375e+06,  2.56988855e+06,  2.40742065e+07,  2.23572017e+06,
        5.56061412e+07,  2.14989923e+06,  1.84340292e+06,  2.14916189e+06,
        2.19638558e+06,  3.53161243e+06,  2.14989923e+06,  1.59437915e+06,
        2.45061922e+06,  5.47024711e+06,  2.39166416e+06,  5.48732718e+06,
        1.07120590e+08,  1.47376618e+07,  1.88592597e+06,  4.82245878e+06,
        1.53742159e+06,  7.11973575e+06,  6.38736765e+06,  1.94016509e+07,
        3.58335482e+06,  4.20833175e+06,  4.19727164e+06,  3.29467406e+06,
        2.54941895e+06,  1.13091055e+07,  1.90277610e+06,  1.50002999e+07,
        1.49392587e+06,  4.66775039e+06,  1.08934599e+06,  2.79604631e+06,
        3.89511063e+06,  1.45965954e+06,  1.00615874e+07,  1.84340292e+06,
        7.99439848e+05,  4.84624107e+06,  1.57724599e+06,  5.88291659e+07,
        5.17389604e+06,  2.52362901e+06,  1.44842158e+06,  2.16095934e+06,
        1.39112689e+06,  5.51812336e+06,  2.03186772e+06,  1.93540356e+08,
        5.37748655e+06,  2.14252583e+06,  3.68581091e+06,  2.14916189e+06,
        2.55275538e+06,  1.47059153e+07,  6.43976574e+06,  2.14894806e+06,
        1.89959416e+06,  1.45879836e+07,  4.33007417e+06,  2.14050895e+06,
        2.15920196e+07,  2.45338303e+06, -1.21009737e+07,  3.56740077e+06,
        5.15035323e+06,  4.20406621e+06,  3.88708863e+06,  5.69956735e+06,
        3.87427571e+06,  2.40043233e+06,  3.97402169e+06,  1.41175661e+06,
        5.62699320e+06,  2.16095934e+06,  6.83496751e+06,  1.84340292e+06,
        5.15583120e+06,  5.20386552e+06,  2.83669066e+07,  5.34280725e+06,
        2.53762150e+06,  2.43408517e+06,  1.68239067e+06,  2.29918456e+06,
        1.45965954e+06,  1.15923629e+06,  3.67619382e+06,  5.18673235e+06])

In [100]:
result = pd.concat([datatest1, pd.Series(predictions,name='predictions')],axis='columns')
result

,INDEX,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,predictions
0,2725,0.0,9.0,3.0,5.0,1.0,1.0,1.0,1.0,1.474623e+07
1,2726,0.0,1.0,0.0,26.0,1.0,0.0,0.0,0.0,3.057155e+06
2,2727,0.0,0.0,0.0,32.0,1.0,0.0,0.0,0.0,1.665258e+06
3,2728,133.0,0.0,0.0,75.0,1.0,1.0,1.0,1.0,3.396913e+06
4,2729,46.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,2.144001e+06
...,...,...,...,...,...,...,...,...,...,...
195,2920,0.0,0.0,0.0,69.0,1.0,0.0,0.0,0.0,2.299185e+06
196,2921,0.0,0.0,0.0,20.0,1.0,0.0,0.0,0.0,1.459660e+06
197,2922,0.0,0.0,1.0,21.0,1.0,0.0,0.0,0.0,1.159236e+06
198,2923,0.0,0.0,0.0,83.7,2.0,1.0,1.0,1.0,3.676194e+06
199,2924,0.0,0.0,0.0,50.0,2.0,3.0,3.0,3.0,5.186732e+06