<a href="https://colab.research.google.com/github/rattapornsupama/DPDM65/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import pandas as pd   
import matplotlib.pyplot as plt
import numpy as np

# import ไฟล์

In [86]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## ข้อมูลสำหรับการ train

In [87]:
data = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')

In [88]:
data.head()

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN

##ข้อมูลสำหรับการ test

In [89]:
datatest = pd.read_csv('/content/drive/MyDrive/DPDM65/finaltest_X.csv')

In [90]:
datatest

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2925,21082.0,NaN,NaN,ขอนแก่น,บ้านไผ่,หินตั้ง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,2926,30237P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,NaN,...,NaN,18-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2927,18099.0,NaN,NaN,ขอนแก่น,บ้านไผ่,ในเมือง,อาคารพาณิชย์/สำนักงาน,no,no,...,2.0,1.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3,2928,1713.0,NaN,NaN,ขอนแก่น,อุบลรัตน์,บ้านดง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2929,3056P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,สำราญ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,3720,18702.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,อาคารพาณิชย์/สำนักงาน,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
796,3721,30128P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,3722,18422.0,NaN,NaN,ขอนแก่น,เขาสวนกวาง,เขาสวนกวาง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
798,3723,2283.0,NaN,NaN,ขอนแก่น,ชุมแพ,ชุมแพ,บ้านเดี่ยว,no,no,...,0.0,0.0,680.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
799,3724,1761.0,NaN,NaN,ขอนแก่น,หนองเรือ,กุดกว้าง,อาคารพาณิชย์/สำนักงาน,no,no,...,2.0,3.0,128.0,0.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN

#เตรียมข้อมูล

##เตรียมข้อมูลสำหรับการ train

###เปลี่ยน error ทั้งหมดใน แต่ละคอลัมน์ที่เราที่เราสนใจ ให้เป็น ตัวเลข

In [91]:
data['usable_area'] = pd.to_numeric(data['usable_area'],errors='coerce')
data['number_of_rai'] = pd.to_numeric(data['number_of_rai'],errors='coerce')
data['number_of_ngan'] = pd.to_numeric(data['number_of_ngan'],errors='coerce')
data['number_of_va'] = pd.to_numeric(data['number_of_va'],errors='coerce')
data['number_of_bedroom'] = pd.to_numeric(data['number_of_bedroom'],errors='coerce')
data['number_of_bathroom'] = pd.to_numeric(data['number_of_bedroom'],errors='coerce')
data['number_of_parking'] = pd.to_numeric(data['number_of_bedroom'],errors='coerce')
data['sell_price'] = pd.to_numeric(data['sell_price'],errors='coerce')

###เติมค่า missing ด้วย 1.0 ในคอลัมน์ number_of_bedroom , number_of_bathroom , number_of_parking 

โดยการใช้  .fillna({'ชื่อคอลัมน์':ค่าที่ต้องการจะใส่}) 

**หมายเหตุ ที่แทนค่าด้วย 1 เนื่องจาก อย่างน้อย ที่พักอาศัย ก็ต้องมี 1ห้องนอน 1ห้องน้ำ 1ที่จอดรถ

In [92]:
data=data.fillna({'number_of_bedroom':1.0})

In [93]:
data=data.fillna({'number_of_bathroom':1.0})

In [94]:
data=data.fillna({'number_of_parking':1.0})

สร้างตารางข้อมูลใหม่ โดยเอามาเฉพาะคอลัมน์ที่เราสนใจ

In [95]:
data1=data[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_bedroom','number_of_bathroom','number_of_parking','sell_price']]
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
0,0.0,0.0,0.0,98.4,0.0,0.0,0.0,2860000.0
1,NaN,3.0,0.0,72.0,1.0,1.0,1.0,17490000.0
2,208.0,0.0,0.0,52.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,2.0,2.0,2.0,1490000.0
...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,135.0,5.0,5.0,5.0,12500000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,8671875.0
2722,0.0,0.0,0.0,58.0,0.0,0.0,0.0,1400000.0
2723,0.0,0.0,0.0,78.0,0.0,0.0,0.0,2915000.0
2724,0.0,0.0,0.0,32.0,0.0,0.0,0.0,1045000.0

###เติมค่า missing ที่เหลือด้วย 0

In [96]:
data1 = data1.fillna(0)
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
0,0.0,0.0,0.0,98.4,0.0,0.0,0.0,2860000.0
1,0.0,3.0,0.0,72.0,1.0,1.0,1.0,17490000.0
2,208.0,0.0,0.0,52.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,2.0,2.0,2.0,1490000.0
...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,135.0,5.0,5.0,5.0,12500000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,8671875.0
2722,0.0,0.0,0.0,58.0,0.0,0.0,0.0,1400000.0
2723,0.0,0.0,0.0,78.0,0.0,0.0,0.0,2915000.0
2724,0.0,0.0,0.0,32.0,0.0,0.0,0.0,1045000.0

ใช้ .dtypes  เพื่อดูลักษณะของข้อมูลว่าเป็น ตัวเลข (float) หรือยัง

In [97]:
data1.dtypes

usable_area           float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
sell_price            float64
dtype: object

###ลบแถวของข้อมูล ที่มีค่าเป็น 0 ในคอลัมน์ usable_area ออก        

***หมายเหตุ ข้อมูลสำหรับการ train โมเดล เราจะลบแถวที่ usable_area=0 แต่ในข้อมูลสำหรับการ test เราจะไม่ลบแถวที่ usable_area=0 ออก

In [98]:
data1 = data1[data1['usable_area']!=0]
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
2,208.0,0.0,0.0,52.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,2.0,2.0,2.0,1490000.0
5,29.0,0.0,0.0,0.0,1.0,1.0,1.0,1750000.0
9,280.0,0.0,0.0,0.0,2.0,2.0,2.0,2000000.0
...,...,...,...,...,...,...,...,...
2700,110.0,0.0,0.0,0.0,3.0,3.0,3.0,2700000.0
2702,400.0,0.0,0.0,88.0,3.0,3.0,3.0,6900000.0
2711,30.0,0.0,0.0,0.0,1.0,1.0,1.0,2280000.0
2713,150.0,0.0,0.0,67.5,4.0,4.0,4.0,4000000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,8671875.0

###ใช้ .corr() เพื่อดูค่า correlation
- หากค่าเป็นบวก จะบ่งบอกถึงว่าเมื่อ x เพิ่ม y ก็มีแนวโน้มจะเพิ่มด้วย
- หากเป็นลบ หมายถึงว่าเมื่อ x เพิ่ม y ก็มีแนวโน้มจะลด
- แต่ถ้าเป็น 0 นั่นหมายความว่าไม่ว่า x จะเพิ่มหรือลดยังไงก็ไม่อาจบอกได้ว่า y จะเพิ่มหรือว่าลด
---
สหสัมพันธ์จะมีค่าจะอยู่ระหว่าง -1 ถึง 1 เสมอ

โดยถ้าสหสัมพันธ์เป็น 1 แสดงว่า x ∝ y โดยสมบูรณ์ ถ้าเป็น -1 หมายถึง x ∝ -y

In [99]:
data1.corr()

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
usable_area,1.000000,0.923006,0.982974,0.070542,-0.057873,-0.057873,-0.057873,0.384034
number_of_rai,0.923006,1.000000,0.870021,0.070375,-0.053993,-0.053993,-0.053993,0.507894
number_of_ngan,0.982974,0.870021,1.000000,0.071602,-0.046257,-0.046257,-0.046257,0.336352
number_of_va,0.070542,0.070375,0.071602,1.000000,0.091830,0.091830,0.091830,0.136762
number_of_bedroom,-0.057873,-0.053993,-0.046257,0.091830,1.000000,1.000000,1.000000,0.137082
number_of_bathroom,-0.057873,-0.053993,-0.046257,0.091830,1.000000,1.000000,1.000000,0.137082
number_of_parking,-0.057873,-0.053993,-0.046257,0.091830,1.000000,1.000000,1.000000,0.137082
sell_price,0.384034,0.507894,0.336352,0.136762,0.137082,0.137082,0.137082,1.000000

จะเห็นว่า feature ที่เราเลือกมามีผลต่อราคาทั้งสิ้น โดยตัวที่ส่งผลมากทึ่สุดจากทั้งหมดที่เราสนใจ คือ number_of_rai

##เตรียมข้อมูลสำหรับการ test

datatest คือ ตารางข้อมูลที่ใช้สำหรับการ test โดยเอามาเฉพาะคอลัมน์ที่เราสนใจ

In [100]:
datatest=datatest[['INDEX','usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_bedroom','number_of_bathroom','number_of_parking']]
datatest

,INDEX,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking
0,2925,NaN,13.0,1.0,0.0,NaN,NaN,NaN
1,2926,NaN,0.0,0.0,190.0,40.0,NaN,18-22
2,2927,0.0,0.0,0.0,28.0,2.0,2.0,1.0
3,2928,NaN,13.0,3.0,52.0,NaN,NaN,NaN
4,2929,NaN,1.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
795,3720,0.0,0.0,0.0,81.0,0.0,0.0,0.0
796,3721,NaN,0.0,0.0,0.0,2.0,NaN,NaN
797,3722,NaN,0.0,3.0,0.5,NaN,NaN,NaN
798,3723,680.0,0.0,1.0,170.0,0.0,0.0,0.0
799,3724,128.0,0.0,0.0,21.0,2.0,2.0,3.0

datatest1 คือ ตาราง datatest ที่ไม่เอาคอลัมน์ 'INDEX'

In [101]:
datatest1 = datatest[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_bedroom','number_of_bathroom','number_of_parking']]
datatest1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking
0,NaN,13.0,1.0,0.0,NaN,NaN,NaN
1,NaN,0.0,0.0,190.0,40.0,NaN,18-22
2,0.0,0.0,0.0,28.0,2.0,2.0,1.0
3,NaN,13.0,3.0,52.0,NaN,NaN,NaN
4,NaN,1.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,81.0,0.0,0.0,0.0
796,NaN,0.0,0.0,0.0,2.0,NaN,NaN
797,NaN,0.0,3.0,0.5,NaN,NaN,NaN
798,680.0,0.0,1.0,170.0,0.0,0.0,0.0
799,128.0,0.0,0.0,21.0,2.0,2.0,3.0

###เปลี่ยน error ทั้งหมดใน แต่ละคอลัมน์ที่เราที่เราสนใจ ให้เป็น ตัวเลข

In [102]:
datatest1['usable_area'] = pd.to_numeric(datatest1['usable_area'],errors='coerce')
datatest1['number_of_rai'] = pd.to_numeric(datatest1['number_of_rai'],errors='coerce')
datatest1['number_of_ngan'] = pd.to_numeric(datatest1['number_of_ngan'],errors='coerce')
datatest1['number_of_va'] = pd.to_numeric(datatest1['number_of_va'],errors='coerce')
datatest1['number_of_bedroom'] = pd.to_numeric(datatest1['number_of_bedroom'],errors='coerce')
datatest1['number_of_bathroom'] = pd.to_numeric(datatest1['number_of_bedroom'],errors='coerce')
datatest1['number_of_parking'] = pd.to_numeric(datatest1['number_of_bedroom'],errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

###เติมค่า missing ด้วย 1.0 ในคอลัมน์ number_of_bedroom , number_of_bathroom , number_of_parking 

โดยการใช้  .fillna({'ชื่อคอลัมน์':ค่าที่ต้องการจะใส่}) 

**หมายเหตุ ที่แทนค่าด้วย 1 เนื่องจาก อย่างน้อย ที่พักอาศัย ก็ต้องมี 1ห้องนอน 1ห้องน้ำ 1ที่จอดรถ

In [103]:
datatest1=datatest1.fillna({'number_of_bedroom':1.0})

In [104]:
datatest1=datatest1.fillna({'number_of_bathroom':1.0})

In [105]:
datatest1=datatest1.fillna({'number_of_parking':1.0})

###เติมค่า missing ที่เหลือด้วย 0

In [106]:
datatest1 = datatest1.fillna(0)
datatest1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking
0,0.0,13.0,1.0,0.0,1.0,1.0,1.0
1,0.0,0.0,0.0,190.0,40.0,40.0,40.0
2,0.0,0.0,0.0,28.0,2.0,2.0,2.0
3,0.0,13.0,3.0,52.0,1.0,1.0,1.0
4,0.0,1.0,0.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,81.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,2.0,2.0,2.0
797,0.0,0.0,3.0,0.5,1.0,1.0,1.0
798,680.0,0.0,1.0,170.0,0.0,0.0,0.0
799,128.0,0.0,0.0,21.0,2.0,2.0,2.0

#Multiple Linear Regression

In [107]:
from sklearn.linear_model import LinearRegression

X คือ feature ที่เราสนใจ

y คือ sell_price

## กำหนด Xtrain,Ytrain

In [108]:
Xtrain = data1[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_bedroom','number_of_bathroom','number_of_parking']]
ytrain = data1['sell_price']
Xtrain

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking
2,208.0,0.0,0.0,52.0,3.0,3.0,3.0
3,145.0,0.0,0.0,40.0,3.0,3.0,3.0
4,114.0,0.0,0.0,50.0,2.0,2.0,2.0
5,29.0,0.0,0.0,0.0,1.0,1.0,1.0
9,280.0,0.0,0.0,0.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...
2700,110.0,0.0,0.0,0.0,3.0,3.0,3.0
2702,400.0,0.0,0.0,88.0,3.0,3.0,3.0
2711,30.0,0.0,0.0,0.0,1.0,1.0,1.0
2713,150.0,0.0,0.0,67.5,4.0,4.0,4.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0

##ใช้คำสั่ง Linear Regression

LR = LinearRegression().fit(Xtrain, ytrain) 

เราเรียกฟังก์ชัน LinearRegression() แล้วใช้ Method .fit ป้อน Vector ของ feature และ Vector ของ label ลงไปในฟังก์ชัน 

โดยฟังก์ชันจะใช้ข้อมูลเหล่านี้มาคำนวนหา Parameter ที่จะลด Cost function ให้มีค่าต่ำที่สุด โดย Parameter สำหรับ Linear regression ก็คือ Coefficient (= w) และ Intercept (= b) อยู่ใน Hypothesis function ของ Multiple Linear regression:

y =w1(x1)+w2(x2)+w3(x3)+w4(x4)+w5(x5)+w6(x6)+w7(x7)+b

In [109]:
LR = LinearRegression().fit(Xtrain, ytrain)
print("LR coefficient is", LR.coef_)
print("LR intercept is", LR.intercept_)

LR coefficient is [-3.68891092e+02  1.49383825e+06 -3.16898511e+05  1.71957344e+04
  3.49347251e+05  3.49347251e+05  3.49347251e+05]
LR intercept is 1157488.9602239458

##ใช้คำสั่ง .predict
เราใช้คำสั่ง .predict โดยใส่ข้อมูล datatest1 ลงไป เพื่อให้โมเดลพยากรณ์ค่า y (sell_price) ออกมา

In [110]:
predictions = LR.predict(datatest1)
predictions

array([2.13085295e+07, 4.63463486e+07, 3.73505303e+06, 2.15689107e+07,
       3.69936897e+06, 3.87061566e+07, 2.67775764e+07, 2.19372620e+06,
       4.59927537e+06, 3.21682745e+07, 2.19446398e+06, 7.32179666e+06,
       8.57786184e+05, 5.27433571e+06, 3.16356304e+06, 3.55810040e+06,
       3.52222697e+06, 2.12045009e+06, 4.63426248e+06, 6.46737871e+06,
       2.20553071e+06, 7.39097669e+07, 2.20553071e+06, 3.92510415e+06,
       7.42417547e+06, 1.88863220e+06, 2.19557065e+06, 2.34775831e+06,
       2.12585024e+06, 4.70206784e+07, 4.21524100e+06, 1.82068723e+06,
       5.33298939e+06, 1.51859938e+06, 5.43806983e+06, 5.24737961e+06,
       2.37255792e+06, 1.71119161e+06, 2.97440862e+06, 4.49037275e+06,
       5.08891127e+06, 2.03447141e+06, 1.15748896e+06, 1.50140365e+06,
       5.03491052e+06, 5.19320722e+06, 5.28177108e+06, 5.45551533e+06,
       9.26569121e+05, 2.77216842e+06, 5.33335828e+06, 3.58118946e+06,
       4.26487299e+06, 2.58473492e+06, 9.38581313e+07, 5.40452376e+06,
       3.54340231e+06, 4.25609033e+05, 5.58083407e+05, 5.16140094e+06,
       3.02467020e+08, 4.80844947e+06, 2.60193065e+06, 5.89713844e+07,
       9.37034358e+06, 4.13055492e+06, 4.67992037e+06, 1.15095811e+08,
       1.39822924e+06, 5.28355798e+06, 2.30788359e+06, 3.02740042e+07,
       2.06058955e+06, 3.52785001e+06, 7.36749956e+06, 6.68704548e+06,
       1.21222777e+07, 2.19040618e+06, 2.19520176e+06, 1.01586477e+07,
       4.90436297e+06, 7.21551251e+06, 6.02880663e+06, 2.54174558e+06,
       2.51595198e+06, 1.50828194e+06, 2.30603038e+07, 1.60457805e+06,
       1.01971594e+07, 2.30960317e+06, 3.72344442e+07, 3.69936897e+06,
       1.66287108e+06, 4.10469130e+06, 1.88863220e+06, 6.68704548e+06,
       3.01197037e+06, 5.09868945e+06, 1.64051663e+06, 6.79673218e+06,
       5.39964358e+06, 2.23222236e+06, 4.12897319e+06, 5.19020149e+06,
       1.84531834e+06, 5.71529580e+06, 3.56820261e+06, 3.81545250e+06,
       1.31349922e+08, 1.55471042e+06, 3.29521575e+07, 3.89572490e+06,
       3.67986151e+06, 1.46701218e+06, 2.27362103e+06, 3.08647822e+07,
       5.41933695e+06, 2.74867343e+06, 2.42040919e+06, 4.34543158e+06,
       1.88863220e+06, 3.39966619e+06, 3.92291351e+06, 3.60820564e+06,
       2.91055582e+06, 2.06886288e+06, 1.49452535e+06, 3.89249293e+06,
       5.26259767e+06, 2.18745505e+06, 3.89071268e+06, 1.71879548e+06,
       4.24259164e+06, 4.65405676e+06, 1.57173369e+06, 5.25743320e+06,
       4.55698864e+06, 7.39684641e+06, 7.53499873e+06, 1.53579512e+06,
       2.18923302e+06, 1.23911336e+07, 1.88863220e+06, 5.81394080e+06,
       3.63419468e+06, 6.30990164e+06, 1.88863220e+06, 1.52891682e+06,
       1.50140365e+06, 1.45361838e+06, 2.12672019e+07, 7.54036052e+07,
       9.11798124e+06, 8.57318133e+06, 1.46701218e+06, 4.91289082e+06,
       3.83912548e+06, 4.46874048e+06, 1.25483518e+06, 5.68765774e+06,
       4.19804527e+06, 5.11601582e+06, 2.20553071e+06, 3.33332840e+06,
       5.23489141e+06, 2.13764582e+06, 5.35368585e+06, 2.18856172e+06,
       2.37838610e+06, 4.53655875e+06, 1.70775246e+06, 1.53579512e+06,
       3.31587816e+06, 3.63187862e+06, 5.28909135e+06, 2.03447141e+06,
       2.22272645e+06, 4.64452495e+06, 4.96407471e+06, 3.97579331e+06,
       2.33661934e+06, 4.09576890e+06, 2.20553071e+06, 2.56016389e+06,
       4.11335919e+06, 2.18339725e+06, 5.16143374e+06, 4.70181027e+06,
       5.21685518e+06, 2.19372620e+06, 2.00007995e+06, 1.65616526e+06,
       7.23018820e+06, 3.92510415e+06, 2.72230079e+06, 3.66133236e+06,
       2.89336009e+06, 1.92785786e+06, 1.70037717e+06, 2.32679890e+06,
       3.41335017e+06, 1.43262071e+06, 8.40590449e+05, 4.30161422e+06,
       1.24339238e+07, 3.63187862e+06, 2.17203729e+06, 2.44716904e+06,
       2.34386099e+07, 3.81975411e+06, 3.69572383e+06, 1.09815978e+07,
       2.69669840e+07, 1.46701218e+06, 6.79906244e+06, 6.10252182e+06,
       2.09637606e+06, 2.18095969e+06, 2.44821915e+06, 6.95649282e+05,
       3.63136758e+06, 8.40590449e+05, 1.48248834e+06, 2.91454049e+06,
       3.14332189e+06, 1.81247397e+06, 8.40590449e+05, 2.91462065e+07,
       5.35846992e+06, 3.58454144e+06, 2.32679890e+06, 8.43666347e+07,
       7.82850530e+05, 2.22362449e+06, 1.50140365e+06, 1.36488837e+08,
       2.19409509e+06, 3.21668336e+06, 2.95476773e+06, 5.10606727e+06,
       1.85711592e+07, 1.76870560e+07, 6.37796089e+06, 2.17528164e+06,
       1.50140365e+06, 1.87431166e+07, 1.50828194e+06, 4.18799576e+06,
       4.18084953e+06, 2.36677113e+06, 3.06776258e+06, 2.18185773e+06,
       8.40590449e+05, 3.64077431e+06, 2.74398970e+06, 5.52792963e+06,
       9.86632022e+06, 5.19320722e+06, 2.48708064e+06, 4.30161422e+06,
       6.24990561e+06, 3.61468289e+06, 1.53579512e+06, 8.30344451e+06,
       5.19942377e+06, 4.23667292e+06, 2.19446398e+06, 1.57018659e+06,
       2.19296628e+06, 4.61935829e+06, 5.62241008e+06, 3.92510415e+06,
       5.31426054e+06, 1.46118399e+06, 2.20553071e+06, 2.32679890e+06,
       2.12937248e+06, 3.77722084e+06, 1.93989488e+06, 2.73949653e+06,
       2.22706364e+06, 5.16872121e+06, 4.37603152e+07, 5.47092416e+06,
       2.19401393e+06, 8.62944904e+05, 3.12543249e+06, 2.20642876e+06,
       4.24628055e+06, 2.19335731e+06, 5.19320722e+06, 3.27166625e+06,
       3.48148616e+06, 2.11529137e+06, 3.04633211e+06, 2.19483287e+06,
       1.15748896e+06, 4.30097719e+06, 1.39085395e+06, 7.54708671e+06,
       2.01223178e+06, 5.22507936e+06, 1.88863220e+06, 1.81092687e+06,
       1.12502654e+06, 2.87534283e+06, 2.19520176e+06, 5.67903850e+05,
       4.01725990e+06, 2.18923302e+06, 3.49402845e+06, 1.43262071e+06,
       1.88863220e+06, 4.02326516e+06, 1.33663297e+08, 2.68790932e+06,
       4.69940830e+06, 1.55299085e+06, 4.58769760e+06, 2.17823277e+06,
       5.25743320e+06, 2.97237407e+07, 1.42473185e+06, 3.54584240e+06,
       1.52719725e+06, 5.12686944e+06, 5.13926747e+06, 2.18923302e+06,
       2.23222236e+06, 2.47296264e+06, 3.23734126e+06, 3.87416601e+06,
       4.00889219e+06, 1.95689812e+06, 6.63807451e+06, 5.71404698e+06,
       5.48468074e+06, 1.09852647e+06, 4.51764344e+06, 4.94208230e+06,
       3.57276570e+06, 5.41933695e+06, 2.65132722e+06, 6.38610757e+06,
       1.60457805e+06, 1.61472303e+06, 5.19320722e+06, 2.29240743e+06,
       2.19405566e+06, 2.19483287e+06, 2.82695229e+06, 7.92513835e+06,
       2.61977544e+06, 8.64664477e+05, 3.53558251e+06, 2.19667733e+06,
       3.47063977e+06, 3.23734126e+06, 7.73125862e+07, 5.31353427e+06,
       5.27433571e+06, 1.59254104e+06, 1.94849274e+06, 2.73691717e+06,
       4.54796008e+06, 5.89028887e+06, 3.75661791e+06, 2.20144499e+06,
       1.99180661e+06, 5.34890178e+06, 2.19372620e+06, 3.71965339e+06,
       9.36193440e+06, 1.57173369e+06, 1.88863220e+06, 4.09477248e+06,
       5.34965597e+06, 1.51859938e+06, 6.37914726e+06, 1.53438950e+07,
       1.27048381e+06, 1.09092873e+07, 2.06886288e+06, 5.87363122e+06,
       1.49280578e+06, 2.16254280e+07, 2.20553071e+06, 3.71779974e+06,
       1.50184686e+07, 5.43153741e+06, 1.34471795e+07, 8.18088373e+06,
       1.87431166e+07, 4.73150758e+06, 5.27433571e+06, 1.47611936e+06,
       1.66820227e+06, 2.97440862e+06, 1.34081385e+06, 5.68759041e+06,
       2.30377498e+06, 6.68910585e+06, 4.79125374e+06, 5.66293543e+06,
       2.74841892e+06, 2.54862387e+06, 2.71026378e+06, 7.36239739e+06,
       2.14656822e+06, 2.88842995e+06, 1.98340776e+07, 2.41277757e+06,
       3.19590142e+06, 1.09247573e+07, 2.07970943e+06, 2.80944044e+06,
       2.15072485e+07, 1.66287108e+06, 2.19630844e+06, 1.88863220e+06,
       2.49875624e+06, 4.18799576e+06, 2.09637606e+06, 1.50140365e+06,
       1.05686577e+07, 5.95989449e+06, 9.43764856e+05, 2.21846577e+06,
       3.55322022e+06, 1.86377515e+07, 7.28929073e+06, 2.10033027e+06,
       2.20553071e+06, 1.12416558e+07, 7.61278864e+05, 2.32507933e+06,
       4.21524100e+06, 6.68704548e+06, 2.18923302e+06, 1.71879548e+06,
       2.73949653e+06, 2.22362449e+06, 3.59748715e+06, 2.55722174e+06,
       1.39822924e+06, 2.02735064e+06, 4.64552891e+06, 1.38963137e+06,
       1.81092687e+06, 2.14785967e+06, 3.85528314e+06, 3.76944450e+06,
       3.17921590e+07, 6.54429495e+06, 1.09398310e+07, 4.66258090e+06,
       2.05166715e+06, 5.62104126e+06, 3.60436545e+06, 5.30807399e+06,
       2.01727568e+06, 3.91594836e+06, 2.25801596e+06, 3.39986521e+07,
       3.13670390e+06, 1.55358649e+06, 3.84002353e+06, 3.02355067e+06,
       4.68797843e+06, 2.56519515e+06, 4.64452495e+06, 5.16140094e+06,
       1.70775246e+06, 7.45592338e+06, 4.42575454e+06, 1.90066922e+06,
       1.26066337e+06, 1.53579512e+06, 2.20642876e+06, 5.07190255e+06,
       2.21793086e+06, 2.83555015e+06, 2.61912638e+06, 4.64989805e+06,
       5.67637492e+06, 4.66272464e+06, 2.85986667e+06, 9.69195860e+07,
       1.50356644e+07, 1.65960440e+06, 6.75471091e+06, 6.92158172e+06,
       1.98148917e+06, 1.50140365e+06, 7.43282829e+06, 4.26472511e+06,
       2.09486339e+06, 3.66627009e+06, 6.34528992e+07, 2.32679890e+06,
       6.00385189e+06, 6.46022763e+06, 1.11685602e+07, 5.95156676e+07,
       1.51859938e+06, 5.12008514e+06, 6.67049867e+06, 4.69581480e+06,
       1.56255040e+07, 5.58879666e+06, 1.56500750e+07, 2.72230079e+06,
       2.01315898e+07, 2.20553071e+06, 2.90711668e+06, 6.79344139e+07,
       4.61647111e+06, 2.88317531e+07, 9.11927383e+06, 2.19409509e+06,
       1.88863220e+06, 3.20088145e+06, 3.12672508e+06, 2.19344190e+06,
       3.40923212e+06, 2.72230079e+06, 5.15440347e+06, 4.81940379e+06,
       2.45848377e+07, 1.46701218e+06, 1.79527824e+06, 2.53314771e+06,
       3.06531743e+06, 3.60358738e+06, 2.85814709e+06, 1.51859938e+06,
       5.93651190e+06, 1.71439133e+07, 5.22215287e+06, 4.16494639e+06,
       1.87970981e+06, 4.98643492e+06, 5.11713401e+06, 4.26901884e+06,
       3.69936897e+06, 1.15748896e+06, 3.59748715e+06, 1.28638172e+07,
       2.46131045e+07, 4.61043743e+07, 1.61594560e+06, 1.14642223e+06,
       3.50509519e+06, 5.39955604e+06, 3.23180789e+06, 1.47217090e+06,
       3.75190692e+06, 8.40590449e+05, 2.19409509e+06, 7.67989407e+06,
       5.35713651e+06, 5.00473732e+06, 5.80550803e+07, 6.58400239e+06,
       5.20311268e+06, 1.57173369e+06, 1.20995751e+07, 6.38253376e+06,
       2.58473492e+06, 8.18088373e+06, 2.18923302e+06, 2.18708616e+06,
       2.61912638e+06, 6.12436206e+06, 3.06776258e+06, 3.00979408e+06,
       5.24737961e+06, 1.57173369e+06, 1.88863220e+06, 5.57541294e+06,
       3.20378135e+06, 3.55618862e+06, 3.55442780e+06, 1.64878997e+06,
       4.03958097e+06, 4.12897319e+06, 5.29696496e+06, 1.25483518e+06,
       1.46013389e+06, 5.18702362e+06, 5.26605483e+06, 1.58738232e+06,
       3.53293121e+06, 1.50140365e+06, 4.71974389e+06, 2.19456727e+06,
       1.02236824e+06, 1.70037717e+06, 6.44518769e+06, 3.61558093e+06,
       2.56016389e+06, 1.52203853e+06, 3.83912548e+06, 3.93148029e+06,
       1.79373113e+06, 4.60699828e+07, 8.88590884e+06, 1.46701218e+06,
       4.67992037e+06, 1.51859938e+06, 2.04379486e+06, 9.30113935e+06,
       1.75246137e+06, 2.19446398e+06, 3.07902407e+07, 3.52870422e+06,
       4.59411090e+06, 2.32679890e+06, 2.54862387e+06, 8.67462989e+06,
       5.64181587e+06, 1.63209123e+06, 2.24082023e+06, 2.36029232e+06,
       2.36621545e+07, 6.60911403e+06, 2.20553071e+06, 1.11685602e+07,
       2.54451526e+06, 3.98693878e+06, 1.64141467e+06, 2.19409509e+06,
       2.22362449e+06, 3.97021411e+06, 1.92269914e+06, 2.20642876e+06,
       2.18923302e+06, 2.39558184e+06, 3.73505303e+06, 2.77388799e+06,
       2.87706240e+06, 1.94849274e+06, 2.19409509e+06, 8.18088373e+06,
       1.48420791e+06, 5.19579241e+06, 1.63896952e+06, 5.88726115e+06,
       2.65132722e+06, 2.85986667e+06, 2.41094981e+07, 4.96407471e+06,
       4.45832653e+07, 4.97742380e+06, 4.61601762e+06, 2.56753918e+06,
       6.58923334e+06, 2.44372989e+06, 2.89677046e+06, 4.76312862e+06,
       2.20553071e+06, 2.41260745e+06, 2.18708616e+06, 5.51028040e+06,
       5.30170013e+06, 6.09670610e+05, 2.19446398e+06, 5.43522632e+06,
       1.57173369e+06, 1.47561005e+06, 2.70701584e+07, 1.05615249e+07,
       1.88863220e+06, 9.68564461e+05, 1.88863220e+06, 3.16356304e+06,
       2.01727568e+06, 4.77621649e+06, 8.18088373e+06, 2.74138186e+07,
       4.25244130e+07, 3.85632122e+06, 5.37667215e+06, 4.39003804e+06,
       2.19343108e+06, 2.13420667e+06, 1.15712007e+06, 8.18088373e+06,
       2.20553071e+06, 5.16134339e+06, 3.63135032e+06, 2.46131045e+07,
       2.22362449e+06, 5.50711172e+06, 2.16254280e+07, 5.84548385e+06,
       4.61720889e+06, 1.51859938e+06, 3.71379949e+06, 1.50140365e+06,
       6.15642286e+06, 3.97579331e+06, 1.55543600e+06, 3.17093699e+06,
       5.08762272e+06, 6.41579150e+06, 5.88362178e+06, 8.40590449e+05,
       2.58473492e+06, 7.35544829e+06, 3.70327918e+06, 2.02931269e+06,
       1.44981645e+06, 5.67727297e+06, 3.39203639e+06, 2.18923302e+06,
       7.45592338e+06, 2.36677113e+06, 3.97758940e+06, 5.27802462e+06,
       2.40246013e+06, 2.53314771e+06, 6.31674424e+06, 3.23199234e+06,
       1.52149296e+06, 4.65170719e+07, 1.39822924e+06, 2.85986667e+06,
       2.09344622e+06, 1.51234488e+07, 3.94782660e+06, 2.19372620e+06,
       5.18835704e+06, 3.16356304e+06, 1.95245544e+07, 1.51859938e+06,
       3.56820261e+06, 3.06776258e+06, 1.16512634e+07, 2.19630844e+06,
       4.13718452e+06, 1.71439133e+07, 4.80465966e+06, 7.90056733e+06,
       3.98620686e+06, 2.28305644e+06, 2.05166715e+06, 1.14568445e+06,
       3.87351695e+06, 7.13284198e+06, 4.20939144e+06, 8.03578272e+06,
       2.56171099e+06, 5.26457534e+06, 3.44233100e+06, 2.73122319e+06,
       9.04067045e+06, 3.77282206e+07, 2.50423949e+06, 7.32179666e+06,
       3.72638514e+06, 8.16796032e+06, 7.41041888e+06, 5.29472082e+06,
       7.39861194e+05, 8.07626882e+06, 6.47551201e+06, 1.50140365e+06,
       2.20298961e+06, 2.27005298e+06, 2.19446398e+06, 1.67336099e+06,
       1.19826172e+06, 5.95489186e+07, 2.60347775e+06, 4.40179968e+07,
       2.77871063e+06, 3.21742114e+06, 9.08382447e+06, 5.21661950e+06,
       5.44998196e+06, 1.94792741e+08, 2.19520176e+06, 3.81735678e+06,
       3.92510415e+06, 5.47855396e+06, 1.88863220e+06, 3.21078110e+06,
       1.41169151e+07, 2.39336527e+06, 3.69936897e+06, 1.63896952e+06,
       2.74919934e+06, 1.50140365e+06, 5.29036895e+06, 2.55034345e+06,
       3.25357247e+06, 1.26343305e+06, 3.51301935e+06, 3.56746483e+06])

##ตารางแสดงผลการทำนายราคา 

โดยที่คอลัมน์ชื่อ predictions จะแสดง sell_price ที่เราทำนายโดยโมเดลนี้ จากข้อมูลที่กำหนดให้

In [111]:
result = pd.concat([datatest, pd.Series(predictions,name='predictions')],axis='columns')
result

,INDEX,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_bedroom,number_of_bathroom,number_of_parking,predictions
0,2925,NaN,13.0,1.0,0.0,NaN,NaN,NaN,2.130853e+07
1,2926,NaN,0.0,0.0,190.0,40.0,NaN,18-22,4.634635e+07
2,2927,0.0,0.0,0.0,28.0,2.0,2.0,1.0,3.735053e+06
3,2928,NaN,13.0,3.0,52.0,NaN,NaN,NaN,2.156891e+07
4,2929,NaN,1.0,0.0,0.0,NaN,NaN,NaN,3.699369e+06
...,...,...,...,...,...,...,...,...,...
795,3720,0.0,0.0,0.0,81.0,0.0,0.0,0.0,2.550343e+06
796,3721,NaN,0.0,0.0,0.0,2.0,NaN,NaN,3.253572e+06
797,3722,NaN,0.0,3.0,0.5,NaN,NaN,NaN,1.263433e+06
798,3723,680.0,0.0,1.0,170.0,0.0,0.0,0.0,3.513019e+06
799,3724,128.0,0.0,0.0,21.0,2.0,2.0,3.0,3.567465e+06