<a href="https://colab.research.google.com/github/rattapornsupama/DPDM65/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# import ไฟล์

In [3]:
 data = pd.read_csv('/content/drive/MyDrive/DPDM65/additional_data_newhouse.csv')

In [4]:
data.head()

,Unnamed: 0,id,parent_id,project_name,province,district,sub_district,zip_code,zone_id,zone,...,cable_range,cable_min,cable_max,cable_free,cable_none,cable_ask,position_previous,position_current,sold_out_at,is_pro_in_house
0,0,314.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
1,1,315.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
2,2,316.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
3,3,317.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
4,4,318.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0

In [5]:
data[['company','sell_price']]

                                company  sell_price
0    บริษัท ที สเปซ พร๊อพเพอร์ตี้ จำกัด   3950000.0
1    บริษัท ที สเปซ พร๊อพเพอร์ตี้ จำกัด   3250000.0
2    บริษัท ที สเปซ พร๊อพเพอร์ตี้ จำกัด   6300000.0
3    บริษัท ที สเปซ พร๊อพเพอร์ตี้ จำกัด   6900000.0
4    บริษัท ที สเปซ พร๊อพเพอร์ตี้ จำกัด   4490000.0
..                                  ...         ...
988                                 NaN   1990000.0
989                                 NaN   1390000.0
990                                 NaN   1990000.0
991                                 NaN   1850000.0
992                                 NaN   2490000.0

[993 rows x 2 columns]

In [6]:
set('province')

{'c', 'e', 'i', 'n', 'o', 'p', 'r', 'v'}